<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteRecorderManagement" sendTimeout="00:10:00"
                    maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISessionManagement" sendTimeout="00:10:00"
                    maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testing.panopto.com/Panopto/PublicAPISSL/4.2/RemoteRecorderManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement"
                contract="RemoteRecorderManagementService.IRemoteRecorderManagement"
                name="BasicHttpBinding_IRemoteRecorderManagement" />
            <endpoint address="https://testing.panopto.com/Panopto/PublicAPISSL/4.2/SessionManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement"
                contract="SessionManagementService.ISessionManagement" name="BasicHttpBinding_ISessionManagement" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
